* {
  cursor: none !important;
}

body {
  margin: auto;
  background-color: #363636;
  font: 14px "Nanum Gothic Coding", monospace, Helvetica, Arial, sans-serif;
}

.display {
  margin: 20px;
  display: grid;
  grid-template-rows: 25% auto;
  grid-gap: 15px;
  grid-template-areas:
    "bus-stop-name"
    "bus-info";
  overflow: hidden;
}

.all-busses {
  display: grid;
  grid-gap: 20px;
}

.bus-info {
  display: grid;
  grid-template-columns: .8fr .8fr 1.5fr;
  grid-template-areas:
    "route-no arr-state curr-pos";
}

.bus-stop-name {
  color: hsl(0, 0%, 76%);
  align-self: center;
  justify-self: center;
  grid-area: bus-stop-name;
  font-size: 3.5em;
  font-weight: 700;
}

.route-no {
  color: #ffac79;
  align-self: center;
  justify-self: center;
  grid-area: route-no;
  font-size: 2.75em;
}

.arr-state {
  display: inline;
  color: #589e3c;
  align-self: center;
  justify-self: center;
  grid-area: arr-state;
  font-size: 2.75em;
}

.arr-state-chars {
  display: inline;
  color: #ffac79;
}

.curr-pos {
  color: #f64461;
  align-self: center;
  justify-self: left;
  grid-area: curr-pos;
  font-size: 2.75em;
}

.departure {
  display: inline;
  overflow: hidden;
  color: #589e3c;
}
